#app.app-chat {
  justify-content: space-between;
  align-items: stretch;
}

.chat-page {
  width: 100%;
  display: flex;
  align-items: center;

  .input-with-error {
    position: relative;
  }

  .chats-wrapper {
    width: 310px;
    overflow: hidden auto;
    padding: 0 10px;
    height: 100%;
    background-color: #faf9f9;
    border-right: 1px solid #e1dcdc;
    display: flex;
    flex-direction: column;
    flex: 0 0 auto;
  }

  .clear-result {
    height: 100%;
    width: max-content;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    color: gray;
    font-size: 14px;
    font-weight: 400;
    position: absolute;
    top: 50%;
    right: 10px;
    z-index: 2;
    transform: translate(0, -50%);
  }

  .chat-link {
    margin: 20px 0;
    align-self: flex-end;
  }

  .chat-search-input {
    margin-bottom: 20px;
  }

  .input {
    height: 100%;
  }

  .search-input {
    padding-left: 16px;
    border-radius: 6px;
  }

  .available-chats {
    display: flex;
    flex-direction: column;
  }

  .chat {
    max-width: 290px;
    max-height: 72px;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    padding: 12px 0;
    border-top: 1px solid #e1dcdc;
    cursor: pointer;
    margin-bottom: 12px;
  }

  .chat-username {
    color: #1e1e1e;
    font-size: 16px;
    width: fit-content;
    font-weight: 600;
  }

  .user-info {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-left: 10px;
  }

  .last-message {
    font-size: 12px;
    word-break: break-all;
    text-overflow: ellipsis;
  }

  .user-message-info {
    display: flex;
    flex-direction: column;
  }

  .new-messsage {
    margin-top: auto;
    background-color: #3369f3;
    color: white;
    text-align: center;
    border-radius: 50%;
  }

  .message-time {
    font-size: 9px;
  }

  .chat-avatar {
    width: 47px;
    height: 47px;
  }

  .conversation {
    width: 100%;
    padding: 10px;
    height: 100%;
    display: flex;
    flex-direction: column;

    .chat-tape {
      display: flex;
      flex-direction: column;
      margin: 15px 0;
      flex: 1 0 auto;
      border-top: 1px solid #e1dcdc;
      border-bottom: 1px solid #e1dcdc;
    }

    .message-input {
      margin-top: auto;
      display: flex;

      input {
        width: 100%;
      }
    }
  }

  .user-info-chat {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    border-bottom: 1px solid #e1dcdc;
    padding-bottom: 12px;

    img {
      width: 50px;
      height: 50px;
    }

    .chat-info {
      margin-right: auto;
      font-weight: bold;
    }

    .user-info {
      cursor: pointer;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      gap: 10px;
      flex: 0 1 fit-content;
    }

    .chat-settings {
      flex: 0 0 auto;
      height: 30px;
      width: 30px;
      background: transparent;
      color: black;
      border: none;
      outline: none;

      & > img {
        width: 100%;
        height: 100%;
        transform: rotate(0);
        transition: 0.5s ease;

        &:hover {
          transform: rotate(360deg);
        }
      }
    }
  }

  .empty-conversation {
    height: 100%;
    align-self: center;
    line-height: 100dvh;
    margin: 0 auto;
  }

  .chat-actions {
    display: flex;
    height: 30px;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    gap: 5px;
    margin-bottom: 20px;

    .input-wrapper {
      height: 100%;
      margin-bottom: 0;
      flex: 0 1 auto;

      & > div {
        height: 100%;
      }
    }
  }

  .messages-wrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 100%;
    margin: 10px 0;

    .message-text {
      display: flex;
      align-items: flex-end;
      gap: 5px;
      width: 30%;
      max-width: fit-content;
      padding: 5px;
      margin: 5px 0;
      color: white;
      border-radius: 10px;
      word-break: break-all;
    }

    .message-text.user {
      margin-left: auto;
      background-color: green;
    }

    .message-text.other {
      background-color: blue;
    }

    .message-time {
      color: inherit;
      word-break: keep-all;
    }
  }
}

button.chat-add {
  height: 100%;
  background: transparent;
  color: black;
  border: 1px solid gray;
  outline: none;
  border-radius: 6px;
  flex: 0 0 30px;
}
