:root {
  --secondary-color: #666;
  --primary-color: #111;
  --button-text-color: white;
  --border: 1px solid var(--secondary-color);
  --highlight-color: #3369f3;

  font-family: Inter, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
  color: #333;
  background-color: #f9f9f9;
  font-synthesis: none;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
  color: #666;
}

#app {
  position: relative;
  width: 100dvw;
  height: 100dvh;
  display: flex;
}

.button {
  width: 100%;
  height: 56px;
  font-size: 22px;
  font-weight: 600;
  background-color: rgba(17 17 17 / 100%);
  color: var(--button-text-color);
  cursor: pointer;
  border-radius: 32px;
}

.input-with-error {
  width: 100%;
}

.input {
  width: 100%;
  color: black;
  height: 56px;
  padding: 0 24px;
  border: var(--border);
  border-radius: 12px;
}

.ghost {
  background-color: rgba(17 17 17 / 100%);
}

.error {
  color: red;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  margin: 0 auto;
  padding: 46px 42px;
  max-width: 564px;
  min-width: 564px;
  height: fit-content;
  border-radius: 24px;
  border: 1px solid #888;
}

.form-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 15px;

  p {
    margin: 0 auto;
  }
}

.form-title {
  font-size: 40px;
  font-weight: 500;
  color: #333;
}

.form-title-wrapper {
  text-align: center;
}

.form-text {
  margin: 0 auto;
}

.input-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.input-label {
  color: var(--secondary-color);
}

.submit-button {
  opacity: 0.5;
  pointer-events: none;
}

.error-wrapper {
  width: 100dvw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.toaster {
  position: absolute;
  border: 1px solid gray;
  padding: 20px;
  bottom: 20px;
  right: 20px;
  border-radius: 5px;
  color: black;
  z-index: 11;

  &.error {
    border-color: red;
    background-color: rgb(247 170 170 / 70%);
  }

  &.info {
    border-color: blue;
    background-color: rgb(164 164 244 / 30%);
  }

  .toaster-title {
    font-size: 24px;
    color: black;
  }

  .toaster-text {
    font-size: 14px;
    color: black;
  }
}

.loader-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100%;
  min-width: 100%;
  pointer-events: none;
  border-radius: 22px;
  background: transparent;
  transition: 0.3s ease;

  .lds-ring {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 80px;
    height: 80px;
  }

  .lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 44px;
    height: 44px;
    margin: 8px;
    border: 5px solid #1150cc;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #1150cc transparent transparent;
  }

  .lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
  }

  .lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
  }

  .lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
  }
}

@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.modal-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 / 20%);
  position: absolute;
  z-index: 9;

  .modal {
    min-width: 520px;
    height: fit-content;
    padding: 30px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: white;

    .modal-form {
      display: flex;
      flex-direction: column;
      gap: 20px;
    }

    .modal-title {
      font-size: 32px;
      text-align: center;
    }

    .chat-user {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 10px;

      .chat-user-name {
        margin-right: auto;
      }

      img {
        width: 50px;
        height: 50px;
        border-radius: 50%;
      }
    }
  }
}
