:root {
	--secondary-color: #666666;
	--primary-color: #111111;

	--button-text-color: white;

	--border: 1px solid var(--secondary-color);

	--highlight-color: #3369f3;

	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	font-size: 16px;
	line-height: 1.5;
	font-weight: 400;

	color: #333333;
	background-color: #f9f9f9;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-size: 16px;
	color: #666666;
}

#app {
	width: 100dvw;
	height: 100dvh;

	display: flex;
	justify-content: center;
	align-items: center;
}

.button {
	width: 100%;
	height: 56px;
	font-size: 22px;
	font-weight: 600;
	background-color: rgba(17, 17, 17, 1);
	color: var(--button-text-color);
	cursor: pointer;
	border-radius: 32px;
	-webkit-border-radius: 32px;
	-moz-border-radius: 32px;
	-ms-border-radius: 32px;
	-o-border-radius: 32px;
}
.input-with-error {
	width: 100%;
}

.input {
	width: 100%;
}

.ghost {
	background-color: rgba(17, 17, 17, 0.25);
}

.error {
	color: red;
}

.wrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;

	margin: 0 auto;
	padding: 46px 42px;

	max-width: 564px;
	min-width: 564px;

	min-height: 400px;

	border-radius: 24px;
	border: 1px solid #888888;
	-webkit-border-radius: 24px;
	-moz-border-radius: 24px;
	-ms-border-radius: 24px;
	-o-border-radius: 24px;
}

.form-wrapper {
	width: 100%;
	height: 100%;

	display: flex;
	flex-wrap: wrap;

	gap: 15px;

	p {
		margin: 0 auto;
	}

	/* div:nth-child(4) {
		width: 46%;
	}
	div:nth-child(3) {
		margin-left: auto;
		width: 50%;
	} */
}

.form-title {
	font-size: 40px;
	font-weight: 500;
	color: #333333;
}
.form-title-wrapper {
	text-align: center;
}

.form-text {
	margin: 0 auto;
}

.input {
	color: black;
	height: 56px;
	padding: 0 24px;
	border: var(--border);
	border-radius: 12px;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	-ms-border-radius: 12px;
	-o-border-radius: 12px;
}

.input-wrapper {
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 2px;
}

.input-label {
	color: var(--secondary-color);
}

.submitButton {
	opacity: 0.5;
	pointer-events: none;
}
