@import url('@/styles/global.css');

.login-link {
  color: #111;
  display: inline;
  cursor: pointer;
}

.form-text {
  display: inline;
}

.form-wrapper:has(.login-error:empty):has(.password-error:empty):has(
    .login:not(:placeholder-shown)
  ):has(.password:not(:placeholder-shown))
  .submit-button {
  opacity: 1;
  pointer-events: auto;
}
