@import '@/styles/global.css';

.login-link {
	color: #111111;
}

.form-wrapper:has(.email-error:empty):has(.password-error:empty):has(
		.email:not(:placeholder-shown)
	):has(.password:not(:placeholder-shown))
	.submitButton {
	opacity: 1;
	pointer-events: auto;
}
