* {
	box-sizing: border-box;
}

:root {
	--secondary-color: #666666;
	--primary-color: #111111;

	--button-text-color: white;

	--border: 1px solid var(--secondary-color);

	--highlight-color: #3369f3;

	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	font-size: 16px;
	line-height: 1.5;
	font-weight: 400;

	color: #333333;
	background-color: #f9f9f9;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

#app {
	width: 100vw;
	height: 100vh;
}

.button {
	width: 100%;
	height: 56px;
	font-size: 22px;
	font-weight: 600;
	background-color: rgba(17, 17, 17, 1);
	color: var(--button-text-color);
	border-radius: 32px;
	-webkit-border-radius: 32px;
	-moz-border-radius: 32px;
	-ms-border-radius: 32px;
	-o-border-radius: 32px;
}

.ghost {
	background-color: rgba(17, 17, 17, 0.25);
}

.input {
	border: var(--border);
	border-radius: 12px;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	-ms-border-radius: 12px;
	-o-border-radius: 12px;
}

.input-wrapper {
	display: flex;
	gap: 7px;
}

.input-label {
	color: var(--secondary-color);
}
